@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    height: 100vh
}
.box{
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3%;
    background-color: white;
}

.qrCode img{
    display: block;
    border-radius: 3%;
    width: 100%;
}

.textBox{
    text-align: center;
    padding: 1.5rem 0 0.5rem 0;
}

.textBox h1{
    font-family: 'Outfit',sans-serif;
    color: hsl(218, 44%, 22%);
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.textBox p{
    font-family: 'Outfit',sans-serif;
    font-size: 0.96rem;
    font-weight: 400;
    margin: 0.5rem 0;
    color: hsl(220, 15%, 55%);
}

.attribution{
    bottom: 10px;
    width: 100%;
    position: absolute;
}

.attribution p{
    font-size: 0.8rem;
    color: hsl(212, 7%, 60%);
    margin: 1.8rem auto auto 0;
    text-align: center;
}

.attribution a{
    font-size: 0.8rem;
    text-decoration: underline;
    color: hsl(212, 7%, 60%);
}